<div class="welcome-component">
  <section>
    <div class="block-logo">
      <p>ART INSTITUTE CHICAGO</p>
    </div>
    <div class="lined"></div>
    <div class="site-name">
      <p>Chicago ArtWork Explorer</p>
    </div>
    <div class="read-edu-web-link"><a href="https://www.artic.edu/" target="#">Education Website</a></div>
  </section>
  <div class="container">
    <h5>Welcome to</h5>
    <h3>Art Institute of Chicago</h3>
    <p class="intro">Home to a collection of art that spans centuries and the globe, the Art Institute of Chicago is
      located in the
      heart
      of the city—and is one of Tripadvisor’s “Best of the Best” US attractions of 2023.</p>

    <div class="search-n-cart d-flex align-items-center justify-content-between">
      <form [formGroup]="searchForm">
        <input type="text" placeholder="Search name here" formControlName="fieldName">
      </form>
      <button type="button" class="btn-custom btn btn-danger" [routerLink]="['/favourites']">View Favourites</button>
    </div>
    <div class="d-flex flex-wrap justify-content-between">
      <app-card *ngFor="let item of artWork" [FetchedItems]="item"></app-card>
    </div>
    <mat-paginator [length]="100" [pageSize]="12" [pageSizeOptions]="[6, 12, 24, 96]" (page)="handPageChange($event)">
    </mat-paginator>
  </div>
</div>