img{
    height: 300px;
}
.my-card{
    height:470px;
    background-color: rgb(253, 203, 203);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   border-radius: 8px;
   box-shadow: 0 0 12px rgba(179, 56, 56, 0.6);
   .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .func-buttons{
        padding: 5px;

        .fb-share-button{
            a{
               i{
                margin-right: 2px;}
            }
        }
    }
    h5{
        padding-top: px;
        color: rgb(197, 50, 50);
    }
   }
   transition: all 0.1s ease-in-out 0.2s;
}
.my-card:hover {
    background-color: rgb(252, 183, 183);
    transform: scale(1.05); /* add scale transformation */
  }

.fb-share-button a{
    color: rgb(224, 123, 123);
    text-decoration: none;
}
.btn-custom{
    background-color: rgb(234 104 104) !important;
    color:white;
}

.btn-custom:hover{
    background-color: rgb(225, 88, 88) !important;
}