<div class="display-full-info d-flex container p-3">
    <div class="img-real d-flex flex-column p-2">
        <img src='https://www.artic.edu/iiif/2/{{FetchedItem.image_id}}/full/843,/0/default.jpg'>
        <p class="artist-name">{{FetchedItem.artist_display}}</p>
    </div>
    <div class="img-des p-4 justify-content-center">
        <h2>{{FetchedItem.title}}</h2>
        <h5>{{FetchedItem.place_of_origin}}</h5>
        
        <p class="art-des" [innerHTML]="FetchedItem.description"></p>
        <button type="button" class="btn btn-danger" id='addFav' (click)="addToFavourites()">Add to Favourites</button>
        <div class="d-flex p-2"></div>
        <button type="button" class="btn btn-info">View Meta Data</button>        
    </div>
</div>