*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.display-full-info{
    background-color:rgb(235, 246, 246);
}
img{
    width: 23vw;
}
h2{
    color: rgb(138, 39, 39);
}
h4{
    color: gray;
}
p.art-des{
    color:gray
}